/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
       url('../fonts/karla-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

/* martel-regular - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martel-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Martel'), local('Martel-Regular'),
       url('../fonts/martel-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/martel-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/martel-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/martel-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/martel-v4-latin-regular.svg#Martel') format('svg'); /* Legacy iOS */
}

body {
  background-color: #F5F5F5;
}

main {
  margin: 2.5% 10%;
}

/* typography guide */
h1 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
}

h3 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
}

p {
  font-family: 'Martel', serif;
  font-weight: normal;
  font-size: 1.25rem;
}

li {
  font-family: 'Martel', serif;
  font-weight: normal;
  font-size: 1.125rem;
}

/* navbar styling */
nav {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #32161F;
  height: 20vh;
  margin: 2.5% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, nav img {
  height: 100%;
}

.links {
  width: 50%;
  text-align: right;
}

.links a {
  margin: 0 5%;
  color: #32161F;
}

.links a:hover {
  transition: .3s ease;
  color: #188FA7;
}

#current {
  color: #842640;
}
/* navbar styling end */

/* header styling */
header img {
  width: 100%;
}

#name {
  color: #CE796B;
}

#email {
  text-decoration: underline;
  transition: .3s ease;
}

#email:hover {
  color: #188FA7;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.socials a {
  margin-right: 2.5%;
}

.socials img {
  width: 1.5rem;
}
/* header styling end */

/* card styling */
.card-container {
  border-radius: 10px;
  width: 100%;
  padding-bottom: 100%;
  margin-bottom: 5%;
  position: relative;
}

.card-container img {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.card-container .card-overlay {
  border-radius: 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.card-container:hover .card-overlay {
  opacity: .9;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

/* card overlay background-colors: */
#pigpocket {
  background-color:  #D2C1C5;
}

#netflix {
  background-color: #E4BABC;
}

#flowerish {
  background-color: #B8C3C8;
}

#nexthealth {
  background-color: #D8E8E5;
}

#artwall {
  background-color: #E9EEF2;
}
/* card overlay ends */

/* ABOUT.HTML CSS */
/* about.html org links */
.organizations a:hover {
  transition: .3s ease;
}

#wicc:hover {
  color: #82e7d5;
}

#sis:hover {
  color: #ef8e80;
}

#pe:hover {
  color: #df9011;
}

#ewh:hover {
  color: #2d6694;
}

#rtc:hover {
  color: #3cb7e9;
}
/* about.html org links end */

/* about.html illustrations section */
.illustrations-container img {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
}
/* about.html illustrations section end */

@media (min-width: 1000px) {
  /* header styling */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  header img {
    width: 50%;
  }
  
  header section {
    width: 40%;
    margin: 0 5%;
  }
  /* header styling end */

  /* card styling */
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .card-container {
    border-radius: 10px;
    width: 45%;
    padding-bottom: 45%;
    margin-bottom: 5%;
    position: relative;
  }
  /* card styling end */

  /* about.html illustrations section */
.illustrations-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.illustrations-container img {
  width: 30%;
  margin-bottom: 5%;
  border-radius: 10px;
}
/* about.html illustrations section end */
}