/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
       url('../fonts/karla-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

/* martel-regular - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martel-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Martel'), local('Martel-Regular'),
       url('../fonts/martel-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/martel-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/martel-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/martel-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/martel-v4-latin-regular.svg#Martel') format('svg'); /* Legacy iOS */
}

body {
  background-color: #F5F5F5;
}

main {
  margin: 2.5% 10%;
}

/* typography guide */
h1 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

h2 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
}

h3, a {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #32161F;
}

h4 {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
}

p {
  font-family: 'Martel', serif;
  font-weight: normal;
  font-size: 1.25rem;
}

/* navbar styling */
nav {
  height: 20vh;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 100%;
}

.links a {
  color: #32161F;
}
/* navbar styling end */

/* header styling */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 50%;
}

header section {
  width: 40%;
  margin: 0 5%;
}

#name {
  color: #CE796B;
}
/* header styling end */

/* card styling */
.cards {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card-row {
  margin-bottom: 5%;
}

.card-container {
  /*border: 1px solid blue;*/
  border-radius: 10px;
  width: 45%;
  padding-bottom: 45%;
  margin-bottom: 5%;
  position: relative;
}

.card-container img {
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.card-container .card-overlay {
  border-radius: 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D2C1C5;
}

.card-container:hover .card-overlay {
  opacity: .9;
  cursor: pointer;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}

/* card overlay background-colors: */
#pigpocket {
  background-color:  #D2C1C5;
}