/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/karla-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Karla'), local('Karla-Regular'),
       url('../fonts/karla-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-regular.svg#Karla') format('svg'); /* Legacy iOS */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/karla-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Karla Bold'), local('Karla-Bold'),
       url('../fonts/karla-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/karla-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/karla-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/karla-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/karla-v13-latin-700.svg#Karla') format('svg'); /* Legacy iOS */
}

/* martel-regular - latin */
@font-face {
  font-family: 'Martel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/martel-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Martel'), local('Martel-Regular'),
       url('../fonts/martel-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/martel-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/martel-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/martel-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/martel-v4-latin-regular.svg#Martel') format('svg'); /* Legacy iOS */
}

#banner {
  width: 100%;
}

body {
  margin: 0;
  background-color: #F5F5F5;
}

.content {
  margin: 10%;
}

/* style guide */
/* section title */
h1 {
  margin: 1rem 0;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  color: #CE796B;
}

/* card titles, navbar buttons, name logo */
h2 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

/* top header one-liner */
h3 {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

/* card subtitles, button */
h4 {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

a {
  color: #842640;
  font-size: 1rem;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  transition: .3s ease;
  color: #188FA7;
  text-decoration: underline;
}

p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
}

li {
  font-family: 'Martel', serif;
  font-weight: normal;
  font-size: 1rem;
}

blockquote {
  font-family: 'Martel', serif;
  font-size: .75rem;
  margin: .25rem 0;
}

/* style guide end */

/* navbar styling */
#name-logo {
  color: #CE796B;
  margin-bottom: 1rem;
}

/* need to manually change navbar font */
nav a {
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  display: block;
  margin-right: .5rem;
}

.links {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

#current {
  color: #188FA7;
  text-decoration: underline;
}
/* navbar styling end */

/* header styling */
header {
  margin: 10% 0;
}

header img {
  width: 100%;
}

#anna {
  font-family: 'Martel', serif;
}

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.socials a {
  display: block;
  margin-right: 1rem;
}
/* header styling end */

/* card styling */
.card-container {
  width: 100%;
  margin: 15% 0;
  color: black;
}

.card-container h2 {
  margin-bottom: 0.5rem;
}

.card-container h4 {
  color: #656565;
}

.card-container p {
  margin-top: 0;
}

.image-container {
  position: relative;
  border-radius: 10px;
  width: 100%;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.card-overlay {
  border-radius: 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.link-container:hover .card-overlay {
  opacity: .8;
}

.more {
  padding: .25rem 1rem;
  border: 1px solid #842640;
  border-radius: 10px;
}

.more:hover {
  transition: .3s ease;
  border: 1px solid #188FA7;
  background-color: #188FA7;
  color: #f5f5f5;
}

/* card overlay background-colors: */
#pigpocket {
  background-color:  #D2C1C5;
}

#netflix {
  background-color: #E4BABC;
}

#flowerish {
  background-color: #B8C3C8;
}

#nexthealth {
  background-color: #D8E8E5;
}

#artwall {
  background-color: #E9EEF2;
}
/* card overlay ends */

/* footer styling */
footer {
  margin-top: 15%;
}

.top {
  text-decoration: none;
}

.quote {
  margin: 5% 0;
}
/* footer styling ends */


/* ABOUT.HTML CSS */
.about-header {
  margin-bottom: 10%;
}

/* about.html illustrations section */
.illustrations-container img {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
}
/* about.html illustrations section end */

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

@media (min-width: 1000px) {
  .content{
    margin: 2.5% 15%;
  }

  /* navbar styling */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .links {
    justify-content: flex-end;
  }

  /* navbar styling end */

  /* header styling */
  header {
    width: 60%;
  }
  /* header styling end */

  /* card styling */
  .card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
  }

  .link-container, .blurb {
    width: 45%;
  }

  /* card styling end */

  /* footer styling */
  footer {
    margin-top: 5%;
    text-align: center;
  }

  footer .socials {
    justify-content: center;
  }

  .quote {
    margin: 2.5% 0;
  }
  /* footer styling ends */

  /* about.html illustrations section */
  .illustrations-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .illustrations-container img {
    width: 30%;
    margin-bottom: 5%;
    border-radius: 10px;
  }
  /* about.html illustrations section end */
}